header{
    background: black;
    color:white;
    text-align: center;
}
nav{
    display: flex;
}
ul{
    margin:0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
li{
    display: inline-block;
    color: white;
}

a{
    color: white;
}

figure{
    color: black;
}
li.navi:hover{
    background-color: white;
}
li.navi a:hover{
    color: black;
}

section ul li{
    margin: 0px 90px;
}

section{
    padding: 0px;
    background: white;
    color: black;
}
footer{
    background: black;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background: black;
}            
button{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}