header{
    text-align: center;
    background: black;
    color: white;
}
nav{
    display: flex;
}
a{
    color: white;
}
ul{
    margin:0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
#toggle{
    color: black;
}
li{
    display: inline-block;
    color: white;
}
li:hover{
    background-color: white;
}

a:hover{
    color: black;
}
section{
    padding: 0px 0px 500px 0px;
    background: white;
    color: black;
}
footer{
    background: black;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background: black;
}            
button{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}